@font-face{
    src: url(fonts/Poppins/Poppins-Light.ttf);
    src: url(fonts/poppins/Poppins-Medium.ttf);
    src: url(fonts/Poppins/Poppins-Regular.ttf);
    font-family: poppins;
    font-family: poppins mid;
    font-family: poppins reg;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
}

.navbar {
    font-size: 18px;
    padding-bottom: 10px;
    background-color: #f5f8f5;
    position: sticky;
    top: 0;
    z-index: 10;
    opacity: 0.9;
  }
  
.main-nav {
list-style-type: none;
display: none;
}
.nav-links,
  
.logo {
    text-decoration: none;
    color: black;
    font-family: poppins;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}
  
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 80px;
}

.navbar img{
    width: 100px; 
}
  
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}
  
.active {
    display: block;
}
  
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }



    .nav-links {
        margin-left: 40px;
        font-size: 13px;
        display: inline-block;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: #22AED1;
    }
}


.nav-links::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #22AED1;
    transition: width .3s;
}

.nav-links:hover::after{
    width: 100%;
    transition: width .3s;
}
  

@media screen and (max-width: 767px) {
    .navbar img {
      margin-left: -65px;
      width: 95px;
      transition: 1s;
    }
}
   


    /* end of navbar */




.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.element{
    
        display: inline-block;
        /* margin: 0 0.5rem; */
      
        animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 3s; /* don't forget to set a duration! */
      
}

.content{
    width: 500px;
    /* border: 1px solid red; */
    padding: 10px;
    height: 300px;
    margin-top: 12% !important;
    margin: 10px;
}

.content h1{
    font-size: 60px;
    font-family: poppins ;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: -2px;
}

.content p{
    color: #433f4f;
    font-family: poppins ;
    font-size: 13px;
}

.image{
    width: 670px;
    margin-top: 30px;
}

.image img{
    width: 100%;
    height: auto;
}

.btn{
    font-size: 13px;
    color: #fff;
    background: #22AED1;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    font-family: poppins reg;
}

.btn:hover{
    letter-spacing: 6px;
}

@media screen and (max-width: 768px){
    .image{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .content{
        margin-top: 3% !important;
        height: auto;
        /* border: 1px solid teal; */
    }
}

/* about */

.About{
    margin-top: 50px;
    margin-bottom: 20px;
    background: #f5f8f5;
    height: auto;
}

.first{
     display: block;
    justify-content: center; 
    text-align: center;
    flex-wrap: wrap;
    height: auto;
    /* background: #f5f8f5; */
}

.first h3{
    font-family: poppins mid;
    font-size: 30px;
    margin-bottom: 30px;
    padding-top: 18px;
}

#border{
    border-bottom: 1px solid black;
    width: 80px;
    display: inline-block;
    
}

.About p{
    padding-top: 25px;
    font-family: poppins reg;
    padding-bottom: 20px;
    font-size: 14px;
    
}

.second{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f5f8f5;
    padding: 10px;
    margin: 10px;
    height: 450px;
}

.second img{
    width: 100%;
    height: auto;
}

.second div{
    margin: 60px;
}

.learn{
    width: 100px;
    height: 120px;
    margin: 30px;
}

.practice{
    width: 100px;
    height: 120px;
    margin: 30px;
}

.grow{
    width: 100px;
    height: 120px;
    margin: 30px;
}

.second p{
    text-align: center;
    font-weight: 600;
    font-family: poppins;
    color: #22AED1;
}

.second #space{
    margin-top: -28px;
    font-weight: 300;
    color: #433f4f;
}

@media screen and (max-width: 736px){
    .second{
        height: 700px;
    }
}

@media screen and (max-width: 496px){
    .second{
        height: 1000px;
    }
}

/* Mission */











.mission{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    height: 350px;
    height: auto;
}

.ourmission{
    width: 300px;
    
    padding: 10px;
    height: auto;
}

.ourmission h1{
    font-size: 40px;
    color: #22AED1;
    font-family: poppins;
    font-weight: 300;
}

.ourmission #line{
    width: 80px;
    border-bottom: 1px solid black;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.text{
    width: 500px;
    padding: 10px;
}

.text #lorem{
    padding-top: 40px;
}

.text p{
    font-family: poppins reg;
    font-size: 15px;
}

 @media screen and (max-width: 819px){
    .ourmission #line{
      margin-left: 80px;
      transition: 1s;
    }
}




/* Our team */

 #team{
    background: #f5f8f5;
    padding-bottom: 15px;
    padding-top: 15px;
    height: auto;
}

.meet{
    display: block;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.meet h2{
    font-size: 40px;
    font-family: poppins;
    font-weight: 300;
    margin-top: 30px;
    color: #22AED1;
}

#bottom{
    width: 100px;
    border: 1px solid black;
    text-align: center;
    transform: translate(630px, 10px);
    
}

.ourteam{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    margin: 20px;
}

.ourteam #img{
    /* width: 120px;
    height: 120px; */
    /* border-radius: 60px; */
    padding: 10px;
    margin: 50px;
    background: #fff;
}

#flow{
    border-radius: 50%;
    overflow: hidden;
    
}

#flow{
    width: 150px;
    height: 150px;
}

.ourteam #img p{
    position: relative;
    margin: 10px;
}

#bold{
    font-weight: 600;
}

#paragraph{
    width: 160px;
    padding-top: 25px;
    text-align: center;
    margin-left: -25px;
    font-family: poppins;
    font-size: 12px;
}

.ourteam img{
    height: auto;
    width: 100%;
}


.ourteam2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-top: 40px;
    margin: 20px; */
}




.ourteam2 #img2{
    /* width: 120px;
    height: 120px; */
    /* border-radius: 60px; */
    padding: 10px;
    margin: 50px;
    background: #fff;
}

.ourteam2 #img2 p{
    position: relative;
    margin: 10px;
}

.ourteam2 img{
    width: 100%;
    height: auto;
}

#paragraph{
    width: 160px;
    padding-top: 25px;
    text-align: center;
    margin-left: -25px;
    font-family: poppins;
    font-size: 12px;
}



/* about the app */

#app{
    background: #f5f8f5;
    padding-bottom: 15px;
    padding-top: 15px;
    height: auto;
}

.aboutapp{
    display: block;
    justify-content: center;
    text-align: center;
}

.aboutapp h2{
    font-size: 40px;
    font-family: poppins;
    font-weight: 300;
    color: #22AED1;
}

.appinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    height: auto;
    margin-top: 60px;
}

.look{
    width: 400px;
    padding: 10px;
    height: auto;
}

.look h3{
    font-size: 25px;
    font-weight: 400;
    font-family: poppins;
    padding-bottom: 25px;
}

.look p{
    font-family: poppins;
    font-size: 15px;
}

.video{
    width: 500px;
    padding: 10px;
}

.video img{
    height: auto;
    width: 100%;
}